<div>
  DIRECTION:
  <ion-buttons>
    <button ion-button [color]="(selectedDirection && selectedDirection.toString() === 'strong') ? 'primary' : 'light'" (click)="selectDirection('strong')">strong</button>
    <button ion-button [color]="(selectedDirection && selectedDirection.toString() === '-') ? 'primary' : 'light'" (click)="selectDirection('-')">-</button>
    <button ion-button [color]="(selectedDirection && selectedDirection.toString() === 'weak') ? 'primary' : 'light'" (click)="selectDirection('weak')">weak</button>
  </ion-buttons>
</div>
