<ion-header>
  <ion-navbar>
    <ion-title>
      Scouting
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="row scout-data-input">
    <div>
      <down [selectedDown]="gameState.down" (onDownChange)='onDownChange($event)'></down>
      <yards-to-go [initialYardsToGo]="gameState.yardsToGo" (onYardsToGoChange)='onYardsToGoChange($event)'></yards-to-go>
      <strength (onStrengthChange)='onStrengthChange($event)'></strength>
      <formation (onFormationChange)='onFormationChange($event)'></formation>
      <play (onPlayTypeChange)='onPlayTypeChange($event)'></play>
      <direction (onDirectionChange)='onDirectionChange($event)'></direction>
      <gained-yards (onGainedYardsChange)='onGainedYardsChange($event)'></gained-yards>
      <save-play></save-play>
    </div>
  </div>
  <div class="row game-browse">
    <game-browser></game-browser>
  </div>
</ion-content>
