<ion-header>
  <ion-navbar>
    <ion-title>
      Scouting
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="row scout-data-input">
    <div>
      <down></down>
      <p class="choiceTitle"> YARDS TO GO:
        <label>0</label>
      </p>
      <yards-to-go></yards-to-go>
      <strength></strength>
      <formation></formation>
      <play></play>
      <direction></direction>
      <gained-yards></gained-yards>
    </div>
  </div>
  <div class="row game-browse">
    <game-browser></game-browser>
  </div>
</ion-content>
